In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../output/predict/f_anogan_result2.csv')

In [3]:
df.head()

,label,photo_id,s_label,fzx_feature,sample_type,gps_x,gps_y,cap_time,error_mean,error_list
0,0,1290921532016558087,4115934201721184713,gPsbBbL1sgbSCN350/2eBk7+TgZoCtz7F/m2++gFqP0d/w...,1,121.144604,30.048146,2020-08-05 16:04:06.582,9279.454092,"[[7516.89111328125, 7515.48828125, 7514.927246..."
1,1,1291001241798705163,3515966336388174550,hAcoBncHEvPmAV/+3gMQ+u4C6QU//CwAxv/e/TQAF/kT/w...,1,121.156285,30.077008,2020-08-05 21:20:52.412,13726.371165,"[[2963.087646484375, 2964.90478515625, 2962.96..."
2,2,1290896954267533325,3615965381717356232,tvwuA0D/u/45/2MJowhi/gAHYgQgAq7zwgS0AtMEi/uzBe...,0,121.152065,30.051941,2020-08-05 14:26:24.910,18052.641809,"[[17674.177734375, 17674.34765625, 17674.86132..."
3,3,1290821739600674824,4215924452947895088,xQgF+f/4gQI69pf2Rfq5AQUGDAtQArL90wHQ/g7/DQJ8A9...,1,121.163615,30.099937,2020-08-05 09:27:36.090,22910.414690,"[[6486.52392578125, 6488.02880859375, 6488.021..."
4,4,1290930421659336707,815909792852954509,twBP/vYB6gdv+LH+YvO2Ae8Blf0KAZf8qPpO/QX04AAN9d...,1,121.283879,30.035186,2020-08-05 16:39:25.239,11692.353124,"[[24550.697265625, 24549.03515625, 24548.45507..."

In [6]:
df.sort_values('error_mean')

,label,photo_id,s_label,fzx_feature,sample_type,gps_x,gps_y,cap_time,error_mean,error_list
708,708,1290964025911279617,4115966247821115188,CgMTBlMFmAGGAf8AGgWu80n9KwcaAw4CZAstAOD40P+WAN...,1,121.152725,30.045691,2020-08-05 18:52:59.126,57.408662,"[[56.956153869628906, 57.885398864746094, 57.9..."
501,501,1290894761426681857,4115966247821115188,4ARNBjgD1gPiAZP/MQOU88j+ugdL/fv+DQD2+873AAL+BF...,0,121.127401,30.030468,2020-08-05 14:17:43.685,57.408662,"[[56.956153869628906, 57.885398864746094, 57.9..."
1209,1209,1290827966078517251,4115931617961705904,6gIvAaf+yfvo9A38aQR3/039afnb90P+SwVXCmECgAUN/E...,0,121.186281,30.065509,2020-08-05 09:51:58.096,459.601473,"[[896.27490234375, 896.65283203125, 896.280151..."
1275,1275,1290963520527007751,3615932576423488383,cwaJA6QByvjO/eQBvvbx/Kz6MgrgA2P/1AQf/3P58A6L+X...,1,121.161654,30.033591,2020-08-05 18:51:02.246,744.970975,"[[1080.2393798828125, 1080.6922607421875, 1080..."
476,476,1291001397315108866,3415931701769503363,ufvRAd/9lfsbAWsCaf4G+L/9SgLH/K/zSAX8BOcCFv+sBJ...,1,121.157621,30.047477,2020-08-05 21:21:30.358,910.952132,"[[14.305368423461914, 14.953890800476074, 14.2..."
...,...,...,...,...,...,...,...,...,...,...
652,652,1290861904167698437,4115966045505461853,8gNpBdsANAZL9P0GZfZg+zz9ufUBAe0BN/9cAGD7QQI48t...,1,121.156253,30.076938,2020-08-05 12:07:08.279,41452.549396,"[[68163.546875, 68165.1484375, 68164.046875, 6..."
848,848,1290943531086512128,615912650869389213,MQxmAyUCvggSBB/8qQeaCb4BIP8XBQQDvABx/PMGC/unBl...,0,121.155748,30.075866,2020-08-05 17:31:27.938,41906.544172,"[[8954.5517578125, 8954.908203125, 8954.448242..."
367,367,1290848355219406857,3715913718698284669,eAPk9S79rgDc9iwGZApBBKUGVAad9pz9QQOJAyEOHAJO+3...,1,121.181795,30.065217,2020-08-05 11:13:21.085,42435.075201,"[[10947.0263671875, 10946.625, 10946.638671875..."
160,160,1291039049447899141,3715913718698284669,mPxq9VABaP1M/WX9/gs7BRcE2QL1/B8C1v1+BQoHbPwZ+U...,0,121.178611,30.061554,2020-08-05 23:50:54.951,48223.029147,"[[19244.263671875, 19245.033203125, 19244.4062..."
786,786,1290982634846945287,3415909989091587584,qgbHAAD2PwOm9Rv/9goc/BYFg//sAJT5Cf9lBc8Ddf7DBp...,0,121.047917,30.165615,2020-08-05 20:06:55.529,49591.814651,"[[46376.85546875, 46376.97265625, 46376.964843..."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
label          1309 non-null int64
photo_id       1309 non-null int64
s_label        1309 non-null int64
fzx_feature    1309 non-null object
sample_type    1309 non-null int64
gps_x          1309 non-null float64
gps_y          1309 non-null float64
cap_time       1309 non-null object
error_mean     1309 non-null float64
error_list     1309 non-null object
dtypes: float64(3), int64(4), object(3)
memory usage: 102.4+ KB

In [9]:
df[df['sample_type']==0][['sample_type','error_mean']].sort_values('error_mean')

      sample_type    error_mean
501             0     57.408662
1209            0    459.601473
180             0   1214.822778
528             0   1346.275034
673             0   1610.730912
...           ...           ...
371             0  37993.070343
868             0  41089.939921
848             0  41906.544172
160             0  48223.029147
786             0  49591.814651

[308 rows x 2 columns]

In [10]:
df[df['sample_type']==1][['sample_type','error_mean']].sort_values('error_mean')

      sample_type    error_mean
708             1     57.408662
1275            1    744.970975
476             1    910.952132
428             1   1739.477307
1227            1   2081.474289
...           ...           ...
699             1  37813.163629
956             1  38298.697121
664             1  38876.434385
652             1  41452.549396
367             1  42435.075201

[1001 rows x 2 columns]